@import "bootstrap/scss/bootstrap";
body {
  font-family: 'Tajawal', sans-serif;
  font-size: larger;
}
#post {
  min-height: 5rem;
  max-height: 8rem;
}
.post-wrapper {
  font-size: x-large;
  font-style: normal;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.post-comments{
  font-size: medium;
}
.comment-author {
  text-transform: capitalize;
}
.post-date {
  font-size: medium;
}
ul {
  list-style-type: none;
}
body {
  background: #fff;
  position: relative;
  font-weight: 400;
  font-family: 'Tajawal', sans-serif;
}
h1 {
  text-align: center;
}
.card-header {
  padding: 0.25rem 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
}
.card-body {
  padding: 0.55rem 0.85rem;
}
video{
  width: 700px;
}
img{
  width: 500px;
}
.img-circle {
  width: 500px;
  height: 300px;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.fa:hover {
  color: darkblue;
}
